*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxyge, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* NAVIGATION BAR */
nav{
    box-shadow: 0px -30px 40px;
    width: 100%;
}

.nav{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.l_nav_o{
    display: flex;
    margin-left: -550px;
}

.xiaomi_image_o img{
    width: 35px;
    height: 35px;
}

.xiaomi_image_o{
    margin-left: 30px;
    padding: 5px 0;
}

.navli li{
    list-style: none;
    margin-right: 20px;
}

.navli a{
    text-decoration: none;
    color: #292929;
    font-weight: 600;
}

.navli a:hover{
    transition: 0.2s ease-in-out;
    color: #ff6900;
    /* border: 0px 0px 2px 0px; */
    /* border-style: solid; */
    /* border-color: #ff6900; */
    text-decoration: underline #ff6900;
}

.r_nav_o{
    display: flex;
    /* margin-right: 40px; */
}

.r_nav_o a{
    margin-right: 30px;
}

.r_nav_o_img_2 img{
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}

.r_nav_o_img_1 img{
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}

.r_nav_o_img{
    width: 20px;
    height: 20px;
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
}


/* END OF NAVIGATION BAR */

/* SECTION 1 */

.section_1_o img{
    width: 100%;
}

.section_1_text_o{
    
}

/* END OF SECTION 1 */